<div class="card">
    <div class="card-header bg-primary text-white">
        <h1>{{ title }}</h1>
    </div>
    <div class="card-block">
        <form class="form p-3 border-bottom">
            <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-end" for="filterDesc">Filtro Nombre:</label>
                <div class="col-sm-5">
                    <input type="text" [(ngModel)]="filterSearch" class="form-control" name="filterDesc" id="filterDesc" placeholder="Filtro..." />
                </div>
                <label class="col-form-label col-sm-5">
                    Filtrando por nombre: {{ filterSearch }}</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-end" for="filterDesc">Filtro precio:</label>
                <div class="col-sm-5">
                    <input type="number" [(ngModel)]="filterSearchPrice" class="form-control" name="filterPrice" id="filterPrice" placeholder="Filtro..." />
                </div>
                <label class="col-form-label col-sm-5">
                    Filtrando por precio: {{ filterSearchPrice }}</label>
            </div>
        </form>
        <div *ngIf="products && products.length">
            <div class="row headers g-0">
                <div class="col-2">
                    <button class="btn btn-sm" [ngClass]="{ 'btn-danger': showImage, 'btn-primary': !showImage }" (click)="toggleImage()">
                        {{ showImage ? "Hide" : "Show" }} images
                    </button>
                </div>
                <div class="col-4">{{ headers.description }}</div>
                <div class="col">{{ headers.price }}</div>
                <div class="col">{{ headers.avail }}</div>
                <div class="col">Ratings</div>

                <div class="col"></div>
            </div>
            <product-item [product]="product" [showImage]="showImage" (delete)="deleteProduct($event)" (dobleclick)="editProduct(product)" class="row g-0" *ngFor="
          let product of products
            | productFilter : filterSearch
            | productFilterPrice : filterSearchPrice
        "></product-item>
        </div>
    </div>
</div>